 @import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');
 body{
	 background:url(../media/bg/bg5.jpg) no-repeat center top;
	 /*background-size:100%;*/
	 font-family:Jura;
	 font-size:24px;
	 padding:0;
	 margin:0;
 }
 img {
	 padding-bottom:10px;
	 padding-top:10px;
 }
 header {
	 height:180px
 }
 footer {
	 position:fixed;
	 bottom:0;
	 width:100%;
	 background:#0b6c8f;
	 color:white;
	 text-align:center;
	 font-size:14px;
	 padding-top:10px;
	 padding-bottom:10px;
 }
 a {
	text-decoration:none;
	font-family:Jura;
	color:white;
	font-size:44px;
}
a:hover {
	color:gold;
}
h1 {
	font-family:Jura;
	color:white;
	font-size:80px;
}
section {
	width:75%;
	margin:auto;
	text-align:justify;
	padding-bottom:70px;
}
h2 {
	color:teal;
}
blockquote {
	background:#00add8;
	color:white;
	border-left:15px solid gold;
	padding:15px 25px;
	border-radius:5px;
}
dt {
	font-size:30px;
	color:black;
}
dd {
	font-size:23px;
	color:black;
}
@media(max-width:1200px){
	h1 {
		font-size:52px;
	}
}
@media(max-width:1000px){
	h1 {
		font-size:48px;
	}
	a {
		font-size:24px;
	}
	header {
	 height:200px
 }
}



.cssSlider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 70vmin;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 100%;
	height: 70vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 100%;
	height: auto;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
	z-index: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssSlider .thumbnails > li {
	float: left;
	width: 20%;
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: auto;
}

.cssSlider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}